.header__menu#header__menu
    .container
        nav.header__menu-common
            a(href="index.html").logo
                img(src="static/images/common/logo.png").logo-img
            ul.header__menu-main
                li.header__menu-list
                    a(href="menu.html").header__menu-link Menu
                li.header__menu-list
                    a(href="#").header__menu-link Lunch
                li.header__menu-list
                    a(href="reserve.html").header__menu-link Rezerwacja
                li.header__menu-list
                    a(href="about.html").header__menu-link o Fretti
                li.header__menu-list
                    a(href="#").header__menu-link Dostawa
                li.header__menu-list
                    a(href="contact.html").header__menu-link Kontakt

