header.header__regular#header__regular
    .header__regular__slider
        img(src='../../../static/images/common/header__main.jpg' alt='Golowna').header__regular__slider-photo
        .header__regular-offer
            a(href="tel:+48 531-899-225").header__regular-tel +48 531-899-225
            h1.header__regular-title Zarezerwuj stolik
            p.header__regular-description dla siebie i rodziny
            a(href="#").header__regular-reservation.button Zarezerwować
    .header__regular__slider
        img(src='../../../static/images/common/header__main.jpg' alt='Golowna').header__regular__slider-photo
include ../header/header__menu
include ../header/header__menu-common