.header__menu-template
    .container
        nav.header__menu-template-regular
            a(href="index.html").logo
                img(src="static/images/common/logo.png").logo-img
            ul.header__menu-template-main
                li.header__menu-template-list
                    a(href="#").header__menu-template-link Menu
                li.header__menu-template-list
                    a(href="#").header__menu-template-link Lunch
                li.header__menu-template-list
                    a(href="#").header__menu-template-link Rezerwacja
                li.header__menu-template-list
                    a(href="about.html").header__menu-template-link o Fretti
                li.header__menu-template-list
                    a(href="#").header__menu-template-link Dostawa
                li.header__menu-template-list
                    a(href="#").header__menu-template-link Kontakt