.contact__offer
    img(src="static/images/common/contact.png").contact__offer-img
    .contact__offer-info
        ul.contact__offer-menu
            li.contact__offer-list
                a(href="tel:+48 531-899-225").contact__offer-link +48 531-899-225 
                    img(src='../../../static/images/sprite/phone.svg' alt='phone').contact__offer-link-icon
            li.contact__offer-list
                a(href="mailto:fretti22kazachuk@gmail.com").contact__offer-link fretti22kazachuk@gmail.com
                    img(src='../../../static/images/sprite/mail.svg' alt='mail').contact__offer-link-icon
            li.contact__offer-list
                a(href="https://maps.app.goo.gl/WX7mb97Bvk8UeZJw8", target='_blank', rel= 'noopener', nofollow).contact__offer-link Wszystkich Świętych 11
                    img(src='../../../static/images/sprite/location.svg' alt='location').contact__offer-link-icon
        .contact__offer-map
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d156.5505502348994!2d17.0240003!3d51.1119877!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fc38401cda50b%3A0xe52c8d3e0fe3c5b3!2sFretti%20Sushi!5e0!3m2!1suk!2spl!4v1696505916007!5m2!1suk!2spl" width="459" height="278" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            //<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d156.55055029102326!2d17.024000309435145!3d51.11198768343283!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fc38401cda50b%3A0xe52c8d3e0fe3c5b3!2sFretti%20Sushi!5e0!3m2!1suk!2spl!4v1696505780817!5m2!1suk!2spl" width="459" height="278" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>