.button {
  display: flex;
  justify-content: center;
  color: $white;
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 15px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all ease 0.6s;
  max-width: 170px;
  width: 170px;
  border-image-source: linear-gradient(315deg, $white, transparent);
  border-image-slice: 1;
  &:hover {
    color: $piper;
    border: 1px solid $piper;
  }
}