include ../common/about__offer
.about__main__offer.about__main__offer-bottom
    p.about__main__offer-description Fretti to rodzinna restauracja stworzona od podstaw przez dwóch braci i profesjonalistów kuchni japońskiej. Gotujemy najsmaczniejsze sushi. Kochamy to, co robimy!
    p.about__main__offer-description “Fretti” to sushi bar z doskonałym menu i zespółem profesjonalistów, którzy lubią dawać radość i niepowtarzalność Japońskiej kuchni.
