include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    include ../modules/common/head
    body
        include ../modules/pages/about
        //include ../modules/common/script