section.about__main#about__main
    .container
        include ../common/about__offer
        .about__main__review
            .about__main__slider
                .wrapper
                    .about__review
                        img(src='../../../static/images/common/5 stars.png' alt='Stars').about__review-stars
                        span.about__review-decoration
                        p.about__review-description Wyśmienite sushi, szybko podane, miła obsługa, muzyka leci cicho, nie przytłacza, w łazience czysto. Jak dla mnie najlepsze sushi we Wrocławiu. Serdecznie polecam!!
                    .about__review.about__review-second
                        img(src='../../../static/images/common/5 stars.png' alt='Stars').about__review-stars
                        span.about__review-decoration
                        p.about__review-description Byłyśmy na obiedzie, bardzooo pyszne jedzenia, miła obsługa i atrakcyjne ceny! Bardzo polecam
                    .about__review
                        img(src='../../../static/images/common/5 stars.png' alt='Stars').about__review-stars
                        span.about__review-decoration
                        p.about__review-description Dobre sushi i zupa, może i mała knajpka ale widać że Panowie się starają, jak najbardziej polecam
            .about__main__slider
                .wrapper
                    .about__review.about__review-first
                        img(src='../../../static/images/common/5 stars.png' alt='Stars').about__review-stars
                        span.about__review-decoration
                        p.about__review-description Wyśmienite sushi, szybko podane, miła obsługa, muzyka leci cicho, nie przytłacza, w łazience czysto.. Jak dla mnie najlepsze sushi we Wrocławiu. Serdecznie polecam!!
                    .about__review
                        img(src='../../../static/images/common/5 stars.png' alt='Stars').about__review-stars
                        span.about__review-decoration
                        p.about__review-description Byłyśmy na obiedzie, bardzooo pyszne jedzenia, miła obsługa i atrakcyjne ceny! Bardzo polecam
                    .about__review.about__review-first
                        img(src='../../../static/images/common/5 stars.png' alt='Stars').about__review-stars
                        span.about__review-decoration
                        p.about__review-description Dobre sushi i zupa, może i mała knajpka ale widać że Panowie się starają, jak najbardziej polecam
            .about__main__slider
                .wrapper
                    .about__review
                        img(src='../../../static/images/common/5 stars.png' alt='Stars').about__review-stars
                        span.about__review-decoration
                        p.about__review-description Byliśmy wczoraj w tym lokalu prosto z ulicy, przed południem i tak nietypowo, bo na kawie i pysznym cieście czekoladowym! Przesympatyczna obsługa, przyjemny i czysty lokal (extra krzesła!) Menu skusiło nas do zamówienia zestawu sushi :)) Jedzenie (zupa+rolki sushi grill) było świeże i pyszne! Serdecznie polecamy!
                    .about__review.about__review-second
                        img(src='../../../static/images/common/5 stars.png' alt='Stars').about__review-stars
                        span.about__review-decoration
                        p.about__review-description Najlepsze sushi w mieście, nowa knajpa, ale trzymam kciuki żeby się wybiła.  Sushi robione od serca, nie żałują składników, obsługa bardzo miła. Mega pozytywne zaskoczenie. Serdecznie polecam!
                    .about__review
                        img(src='../../../static/images/common/5 stars.png' alt='Stars').about__review-stars
                        span.about__review-decoration
                        p.about__review-description Obsługa przemiła, sushi przepyszne! Rolki w tempurze arcydzieło. Polecam i wrócę
            .about__main__slider
                .wrapper
                    .about__review.about__review-first
                        img(src='../../../static/images/common/5 stars.png' alt='Stars').about__review-stars
                        span.about__review-decoration
                        p.about__review-description Weszliśmy przypadkiem, szukaliśmy innego sushi ale tak miało być i trafiliśmy tutaj. Bardzo miła i profesjonalna obsługa, pyszne sushi pięknie podane. - dziecko zachwycone
                    .about__review
                        img(src='../../../static/images/common/5 stars.png' alt='Stars').about__review-stars
                        span.about__review-decoration
                        p.about__review-description Super opcja na lunch. Smaczne jedzenie i miła obsługa.
                    .about__review.about__review-first
                        img(src='../../../static/images/common/5 stars.png' alt='Stars').about__review-stars
                        span.about__review-decoration
                        p.about__review-description Polecam.Jedzenie pyszne a obsługa bardzo miła.
            .about__main__slider
                .wrapper
                    .about__review
                        img(src='../../../static/images/common/5 stars.png' alt='Stars').about__review-stars
                        span.about__review-decoration
                        p.about__review-description Rewelacja! Trafiliśmy przez Google, zaryzykowaliśmy, ale było WARTO! Przepyszne sushi .  Świeże, świetnie dobrane smaki, opcja w tempurze obłędna :)) Polecamy!!!
                    .about__review.about__review-second
                        img(src='../../../static/images/common/5 stars.png' alt='Stars').about__review-stars
                        span.about__review-decoration
                        p.about__review-description Poszedłem z dziewczyną, żeby sprawdzić nową restaurację sushi, nie zawiedliśmy się. Bardzo szybka i miła obsługa. Oboje bezsprzecznie uznaliśmy, że to było najlepsze sushi jakie jedliśmy w życiu (a trochę ich bylo).
                    .about__review
                        img(src='../../../static/images/common/5 stars.png' alt='Stars').about__review-stars
                        span.about__review-decoration
                        p.about__review-description Mila obsługa i baaardzo sprawiedliwe porcje - zestaw lunchowy zdecydowanie można podzielić na dwa mniejsze posiłki





        //.header__regular__slider
        //    img(src='../../../static/images/common/header__main.jpg' alt='Golowna').header__regular__slider-photo
        //    .header__regular-offer
        //        a(href="tel:+48 531-899-225").header__regular-tel +48 531-899-225
        //        h1.header__regular-title Zarezerwuj stolik
        //        p.header__regular-description dla siebie i rodziny
        //        a(href="#").header__regular-reservation.button Zarezerwować
        //.header__regular__slider
        //    img(src='../../../static/images/common/header__main.jpg' alt='Golowna').header__regular__slider-photo