section.delivery__main#delivery__main
    .container
        .delivery__main__offer
            h2.delivery__main__offer-title Dostawa
            p.delivery__main__offer-description Zgnodniałeś?
            p.delivery__main__offer-description Jeśli nie chcesz wychodzić z domu - zamawiaj do domu
            ul.delivery__main__advantages
                li.delivery__main__advantages-list
                    img(src='../../../static/images/sprite/delivery__main__1.svg' alt='')
                    p.delivery__main__advantages-description Wybrać swoje uliubione danie
                li.delivery__main__advantages-list
                    img(src='../../../static/images/sprite/delivery__main__2.svg' alt='')
                    p.delivery__main__advantages-description Wypełnić formę lub zadzwonić
                li.delivery__main__advantages-list
                    img(src='../../../static/images/sprite/delivery__main__3.svg' alt='')
                    p.delivery__main__advantages-description Kurier przywozi pyszne sushi
        .delivery__main__more
            p.delivery__main__more-description Dostawa od ‘Fretti’ da możliwość zwolnić czas dla siebie od gotowania jedzenia
            a(href="#").delivery__main__more-link.button Zamów online