section.lunch__main#lunch__main
    .container
        .lunch__main-content
            .lunch__main-offer
                h2.lunch__main-offer-title Lunch
                p.lunch__main-offer-description Oferujemy 3 zestawy lunch, w których znajdziesz Swój uliubiony. Do każdego zestawu otrzymasz kawę na gratis.
                a(href="#").lunch__main-offer-link.button Lunch Menu
            img(src='../../../static/images/common/lunch__main-promo.png' alt='Lunch main').lunch__main-img