.about__main__offer.about__offer
    .about__main__offer-top
        h2.about__main__offer-title o Fretti
        p.about__main__offer-description FRETTI - sushi bar z doskonałym menu i zespołem profesjonalistów, którzy lubią dawać ludziom wyjątkowość kuchni japońskiej.
        p.about__main__offer-description Fretti to jeden z najlepszych barów sushi w centrum miasta.
    h4.about__main__offer-subtitle Jak to robimy?
    ul.about__main__list
        li
            p.about__main__list-description Mamy szeroki wybór dań, więc każdy znajdzie coś dla siebie.
        li
            p.about__main__list-description Świeże składniki: Starannie wybieramy i używamy tylko najświeższych składników.
        li
            p.about__main__list-description Jakość usług: nasz personel jest zawsze gotowy do pomocy i zaoferowania najlepszego rozwiązania dla naszych gości.
    a(href="#").about__main__offer-link.button Zamów online