.header__menu-template.header__menu-layout
    .container
        nav.header__menu-template-regular.header__menu-layout-regular
            a(href="index.html").logo
                img(src="static/images/common/logo.png").logo-img
            ul.header__menu-template-main.header__menu-layout-main
                li.header__menu-template-list.header__menu-layout-list
                    a(href="menu.html").header__menu-template-link.header__menu-layout-link Menu
                li.header__menu-template-list.header__menu-layout-list
                    a(href="#").header__menu-template-link.header__menu-layout-link Lunch
                li.header__menu-template-list.header__menu-layout-list
                    a(href="reserve.html").header__menu-template-link.header__menu-layout-link Rezerwacja
                li.header__menu-template-list.header__menu-layout-list
                    a(href="about.html").header__menu-template-link.header__menu-layout-link o Fretti
                li.header__menu-template-list.header__menu-layout-list
                    a(href="#").header__menu-template-link.header__menu-layout-link Dostawa
                li.header__menu-template-list.header__menu-layout-list
                    a(href="contact.html").header__menu-template-link.header__menu-layout-link Kontakt